extends layout

append stylesheets
  link(rel='stylesheet', href='/stylesheets/index.css')
  link(rel='stylesheet', href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css", integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==", crossorigin="anonymous")

block content
  div(ng-controller="indexController")
    .modal
      .modal__inner
        .modal__header
          h2 Welcome, please login.
        .modal__footer
          a(href='#')
            i.fa.fa-google-plus(aria-hidden='true')
            | Login with Google+


append javascripts
  script(src="/javascripts/controller/indexController.js")